{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h3>Rejestracja nowego użytkownika</h3>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {# {{  form_row(registrationForm.firstname) }}
        {{  form_row(registrationForm.surname) }}         
        {{  form_row(registrationForm.email) }}         
        {{  form_row(registrationForm.telephone) }} 
        {{  form_row(registrationForm.job) }}        
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }} #}

        {# <button class="btn">Register</button> #}
        <input type="submit" id="submit-form" class="hidden" />
    {{ form_end(registrationForm) }}
{% endblock %}
{% block belka_dol %}   
    
    <div class="pole_belka_dol">
        <label for="submit-form" class="submit_label">Zatwierdź zmiany</label>{# tabindex="0" #}
    </div>
    
{% endblock %}
