    <table id="users_list" class="table">
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>nr pwz</th>
                <th>bilans składek</th>
                <th>szczegóły</th>
                <th>nowa składka miesięczna</th>
            </tr>
        </thead>
        <tbody>
        {% for key,member_user in member_users %}
            <tr class="member_user_row">
                {% if member_user.getCurrentAccuntValue() < 0 %}
                    {% set class_sign = 'class=minus_sign' %}
                {% else %}
                    {% set class_sign = 'class=plus_sign' %}
                {% endif %}
                <td><a href="{{ path('member_user_show', {'id': member_user.id}) }}">
                    {{ member_user.surname }}</a></td>
                <td>{{ member_user.firstName }}</td>
                <td>{{ member_user.nrPrawaZawodu }}</td>
                <td {{ class_sign }}>{{ member_user.getStringCurrentAccount() }}</td>
                {% if member_user.job.rate > 0 %}
                    <td class="td_mniejsze">
                        <a href="{{ path('member_user_show', {'id': member_user.id}) }}">pokaż</a>
                    </td>
                    <td class="td_mniejsze">
                        <a href="{{ path('contribution_new_forUser', {'id': member_user.id}) }}">dodaj</a>
                    </td>
                {% else %}
                    <td class="td_mniejsze" colspan="2">
                    <a href="{{ path('member_user_setRight', {'id': member_user.id}) }}">ustal wysokość składki i sumę początkową</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

