{% extends 'base.html.twig' %}

{% block title %}Członek izby{% endblock %}

{% block body %}
    <h3>Członek izby</h3>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_AUTOR') %}
            <tr>
                <th>Id</th>
                <td>{{ member_user.id }}</td>
            </tr>
            {% endif %} 
            <tr>
                <td>Imię</td>
                <td>{{ member_user.firstName }}</td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td>{{ member_user.surname }}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ member_user.telephone }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{ member_user.email }}</td>
            </tr>
            <tr>
                <td>Nazwisko panieńskie</td>
                <td>{{ member_user.nazwiskoPanienskie }}</td>
            </tr>
            <tr>
                <td>Nr pwz</td>
                <td>{{ member_user.nrPrawaZawodu }}</td>
            </tr>
            <!-- <tr>
                <td>Nazwa użytkownika</td>
                <td>{{ member_user.username }}</td>
            </tr> -->
            {# <tr>
                <td>Roles</td>
                <td>{{ member_user.roles ? member_user.roles|json_encode : '' }}</td>
            </tr> #}
            {# <tr>
                <td>Password</td>
                <td>{{ member_user.password }}</td>
            </tr> 
            <tr>
                <td>Dzień płatności</td>
                <td>{{ member_user.paymentDayOfMonth() }}</td>
            </tr>#}
            <tr>
                <td>Stanowisko/wysokość składki</td>
                <td>{{ member_user.job.name }} / {{ member_user.job.rate }} zł</td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <div id="podsumowanie_div" >
        <br>Stan początkowy:         {{ member_user.initialAccount }}
        <br>Suma należnych składek:  {{ member_user.CalculateAllDueContribution() }} 
        <br>Suma wpłaconych składek: {{ member_user.PaidContributionSum() }} 
        <hr>
        <div id="current_account_div">
            {{ member_user.StringCurrentAccount() }}
        </div>
    </div>
    {% if member_user.myHistory|length > 0 and is_granted('ROLE_AUTOR') %}
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th colspan="2">Historia</th>
            </tr>
            {% for history_row in member_user.myHistory|reverse %}
                <tr>
                    <td>{{ history_row.date.format('d.m.y') }}</td>
                    <td>{{ history_row.getInfoChangeComparingToNext() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}
{% block belka_dol %}   
    <a href="{{ path('contribution_new_forUser', {'id': member_user.id}) }}" class="pole_belka_dol">nowa wpłata</a>
    <a href="{{ path('member_user_edit', {'id': member_user.id}) }}"  class="pole_belka_dol">edytuj dane</a>
    {{ include('member_user/_delete_form.html.twig') }}
{% endblock %}
