{% extends 'base.html.twig' %}

{% block title %}MemberUser{% endblock %}

{% block body %}
    <h1>MemberUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_user.id }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ member_user.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member_user.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ member_user.firstName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ member_user.surname }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ member_user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ member_user.roles ? member_user.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ member_user.password }}</td>
            </tr> #}
            <tr>
                <th>Stanowisko/wysokość składki</th>
                <td>{{ member_user.job.name }} / {{ member_user.job.rate }} zł</td>
            </tr>
            {% if member_user.myHistory|length > 0 %}
            <tr>
                <th>Historia zmian</th>
            </tr>
                {% for history_row in member_user.myHistory|reverse %}
                <tr>
                    <td>{{ history_row.date.format('d.m.y') }}</td>
                    <td>{{ history_row.getInfoChangeComparingToNext() }}</td>
                </tr>
                {% endfor %}

            {% endif %}
            

        </tbody>
    </table>
    <br>
    Suma należnych składek: {{ member_user.CalculateAllDueContribution() }} zł <br>

    <a href="{{ path('member_user_index') }}">back to list</a>

    <a href="{{ path('member_user_edit', {'id': member_user.id}) }}">edit</a>

    {{ include('member_user/_delete_form.html.twig') }}
{% endblock %}
