{% extends 'base.html.twig' %}

{% block title %}Członek izby{% endblock %}

{% block body %}
    <h3>Członek izby</h3>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_AUTOR') %}
            <tr>
                <th>Id</th>
                <td>{{ member_user.id }}</td>
            </tr>
            {% endif %} 
            <tr>
                <td>Imię</td>
                <td>{{ member_user.firstName }}</td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td>{{ member_user.surname }}</td>
            </tr>
            {# <tr>
                <td>Telefon</td>
                <td>{{ member_user.telephone }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{ member_user.email }}</td>
            </tr> 
            <tr>
                <td>Nazwisko panieńskie</td>
                <td>{{ member_user.nazwiskoPanienskie }}</td>
            </tr> #}
            <tr>
                <td>Nr pwz</td>
                <td>{{ member_user.nrPrawaZawodu }}</td>
            </tr>
            <tr>
                <td>Od tej daty liczymy składki</td>
                <td>{{ member_user.beginDate.format('d.m.Y') }}</td>
            </tr>
            <tr>
                <td>Suma wpłacona od daty powyżej</td>
                <td>{{ member_user.initialAccount }}</td>
            </tr>
            <!-- <tr>
                <td>Nazwa użytkownika</td>
                <td>{{ member_user.username }}</td>
            </tr> -->
            {# <tr>
                <td>Roles</td>
                <td>{{ member_user.roles ? member_user.roles|json_encode : '' }}</td>
            </tr> #}
            {# <tr>
                <td>Password</td>
                <td>{{ member_user.password }}</td>
            </tr> 
            <tr>
                <td>Dzień płatności</td>
                <td>{{ member_user.paymentDayOfMonth() }}</td>
            </tr>#}
            <tr>
                <td>Stanowisko/wysokość składki</td>
                <td>{{ member_user.job.name }} / {{ member_user.job.rate }} zł</td>
            </tr>
        </tbody>
    </table>
    {{ include('member_user/_monthsReckoning.html.twig') }}

    {% if member_user.contributions|length > 0 or member_user.initialAccount != null %}
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th colspan="5">wpłacone składki</th>
            </tr>
            <tr>
                <td>kwota</td>
                <td>data</td>
                <td>rodzaj</td>
                <td>potwierdzenie</td>
                <td></td>
            </tr>
            {% if member_user.initialAccount != null %}
                <tr>
                    <td>{{ member_user.initialAccount }}</td>
                    <td>stan początkowy</td>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            {% endif %}
            {% for contribution in member_user.contributions %}
            <tr>
                <td>{{ contribution.value }}</td>
                <td>{{ contribution.paymentDate ? contribution.paymentDate|date('d.m.Y') : '' }}</td>
                <td class="td_mniejsze">{{ contribution.getType() }}</td>
                <td class="td_mniejsze">
                    <a href="{{ path('contribution_print', {'id': contribution.id}) }}">
                        {{ contribution.getOrCreateConfirmation() }}
                    </a>
                </td>
                {# {% if is_granted('ROLE_AUTOR') %} #}
                <td>
                    <a href="{{ path('contribution_edit', {'id': contribution.id}) }}">zmiana</a>
                </td>    
                
                {# {% endif %} #}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    
    {% if member_user.myHistory|length > 0 %}{# and is_granted('ROLE_AUTOR') #}
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th colspan="3">Historia</th>
            </tr>
            {% for history_row in member_user.myHistory|reverse %}
                <tr>
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <td>{{ history_row.date.format('d.m.Y') }}</td>
                    <td>{{ history_row.getInfoChangeComparingToNext() }}</td>
                    <td>
                        {% if is_granted('ROLE_AUTOR') %}
                            <a href="{{ path('member_history_edit', {'id': history_row.id}) }}">zmień</a>
                        {% elseif history_row.IsRegisterDate() == false %}
                            <form method="post" action="{{ path('member_history_delete', {'id': history_row.id}) }}" onsubmit="return confirm('Czy napewno usunąć wpis?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ history_row.id) }}">
                                {# <button class="btn">Delete</button> #}
                                <input type="submit" id="submit-delete-{{ counter }}" class="hidden" />
                            </form>    
                            <label for="submit-delete-{{ counter }}" class="submit_label">usuń zmianę</label>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}
{% block belka_dol %} 
<div class="pole_belka_dol">
    <a href="{{ path('contribution_new_forUser', {'id': member_user.id}) }}">nowa składka miesięczna</a>
</div>
<div class="pole_belka_dol">
    <a href="{{ path('member_user_setRight', {'id': member_user.id}) }}">zmiana w przeszłości</a>
</div>
{% if is_granted('ROLE_AUTOR') %}
    <div class="pole_belka_dol">
        <a href="{{ path('member_user_change', {'id': member_user.id}) }}">zmiana na przyszłość</a>
    </div>
{% endif %}
<div class="pole_belka_dol">
    {{ include('member_user/_delete_form.html.twig') }}
</div>  
{% endblock %}
