{% extends 'base.html.twig' %}

{% block title %}Członek izby{% endblock %}

{% block body %}
    <h3>Członek izby</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_user.id }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ member_user.telephone }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ member_user.email }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ member_user.firstName }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ member_user.surname }}</td>
            </tr>
            <tr>
                <th>Nazwa użytkownika</th>
                <td>{{ member_user.username }}</td>
            </tr>
            {# <tr>
                <th>Roles</th>
                <td>{{ member_user.roles ? member_user.roles|json_encode : '' }}</td>
            </tr> #}
            {# <tr>
                <th>Password</th>
                <td>{{ member_user.password }}</td>
            </tr> #}
            <tr>
                <th>Dzień płatności</th>
                <td>{{ member_user.paymentDayOfMonth }}</td>
            </tr>
            <tr>
                <th>Stanowisko/wysokość składki</th>
                <td>{{ member_user.job.name }} / {{ member_user.job.rate }} zł</td>
            </tr>
            {% if member_user.myHistory|length > 0 %}
            <tr>
                <th>Historia zmian</th>
            </tr>
                {% for history_row in member_user.myHistory|reverse %}
                <tr>
                    <td>{{ history_row.date.format('d.m.y') }}</td>
                    <td>{{ history_row.getInfoChangeComparingToNext() }}</td>
                </tr>
                {% endfor %}

            {% endif %}
            

        </tbody>
    </table>
    <br>
    Suma należnych składek: {{ member_user.CalculateAllDueContribution() }} zł <br>
    Suma wpłaconych składek {{ member_user.PaidContributionSum() }} zł <br>

    
{% endblock %}
{% block belka_dol %}   
    <a href="{{ path('contribution_new_forUser', {'id': member_user.id}) }}" class="pole_belka_dol">nowa wpłata</a>
    <a href="{{ path('member_user_edit', {'id': member_user.id}) }}"  class="pole_belka_dol">edytuj</a>
    {{ include('member_user/_delete_form.html.twig') }}
{% endblock %}
