{% extends 'base.html.twig' %}

{% block title %}Stanowiska{% endblock %}

{% block body %}
    <h3>Lista stanowisk</h3>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nazwa</th>
                <th>Wysokość składki</th>
                {% if is_granted('ROLE_AUTOR') %}
                    <th>akcje</th>
                
                {% endif %}
                
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                {# <td>{{ job.id }}</td> #}
                <td>{{ job.name }}</td>
                <td>{{ job.rate }}</td>
                {% if is_granted('ROLE_AUTOR') %}
                    <td>
                        <a href="{{ path('job_show', {'id': job.id}) }}">pokaż</a>
                        <a href="{{ path('job_edit', {'id': job.id}) }}">edytuj</a>
                        {# <a href="{{ path('job_id_serialize', {'id': job.id}) }}">csvSerialize</a> #}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block belka_dol %}   
    <a href="{{ path('job_new') }}" class="pole_belka_dol">Dodaj nowe stanowisko</a>
    {# <a href="{{ path('job_zpliku') }}">Deserialize</a> #}
    {# <a href="{{ path('job_serialize') }}">csvSerialize</a> #}
{% endblock %}
