{% extends 'base.html.twig' %}

{% block title %}Stanowiska{% endblock %}

{% block body %}
    <h3>Lista stanowisk</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Wysokość składki</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.rate }}</td>
                <td>
                    {# <a href="{{ path('job_show', {'id': job.id}) }}">pokaż</a> #}
                    <a href="{{ path('job_edit', {'id': job.id}) }}">edytuj</a>
                    <a href="{{ path('job_id_serialize', {'id': job.id}) }}">csvSerialize</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Dodaj nowe stanowisko</a>
    <a href="{{ path('job_zpliku') }}">Deserialize</a>
    <a href="{{ path('job_serialize') }}">csvSerialize</a>
{% endblock %}
