{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h3>Stanowisko</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ job.name }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ job.rate }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
{% block belka_dol %}
<div class="pole_belka_dol">
    <a href="{{ path('job_index') }}">lista stanowisk</a>
</div>
<div class="pole_belka_dol">
    <a href="{{ path('job_edit', {'id': job.id}) }}">edytuj stanowisko</a>
</div>
{% if is_granted('ROLE_AUTOR') %}
    <div class="pole_belka_dol">
        <a href="{{ path('job_update_rate', {'id': job.id}) }}">nowa stawka od dziś</a>
    </div>
{% endif %}
{% endblock %}