{% extends 'base.html.twig' %}

{% block title %}Contribution index{% endblock %}

{% block body %}
    <h1>Contribution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>PaymentDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                <td>{{ contribution.id }}</td>
                <td>{{ contribution.value }}</td>
                <td>{{ contribution.paymentDate ? contribution.paymentDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contribution_show', {'id': contribution.id}) }}">show</a>
                    <a href="{{ path('contribution_edit', {'id': contribution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contribution_new') }}">Create new</a>
{% endblock %}
