{% extends 'base.html.twig' %}

{% block title %}zapłacone składki{% endblock %}

{% block body %}
    <h3>zapłacone składki</h3>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Imię i Nazwisko</th>
                <th>Kwota</th>
                <th>Data wpłaty</th>
                <th>rodzaj</th>
                <th>potwierdzenie</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                {# <td>{{ contribution.id }}</td> #}
                {% set mu = contribution.myUser %}
                <td>{{ mu.firstName }} {{ mu.surname }}</td>
                <td>{{ contribution.value }}</td>
                <td>{{ contribution.paymentDate ? contribution.paymentDate|date('d.m.Y') : '' }}</td>
                <td class="td_mniejsze">{{ contribution.getType() }}</td>
                <td class="td_mniejsze">{{ contribution.getOrCreateConfirmation() }}</td>
                {# <td>
                    <a href="{{ path('contribution_show', {'id': contribution.id}) }}">show</a>
                    <a href="{{ path('contribution_edit', {'id': contribution.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block belka_dol %}
    <a href="{{ path('contribution_new') }}">dodaj nową wpłatę</a>
{% endblock %}
