{% extends 'base.html.twig' %}

{% block title %}zapłacone składki{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styl_contribution.css') }}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
            <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
            <script type="text/javascript" src="../../js/jquery-ui.js"></script>
            <script type="text/javascript" src="../../js/findContribution.js"></script>
{% endblock %}

{% block body %}
    <h3>zapłacone składki</h3>
    <div id="div_wyszukaj2">
        <div class="row_wyszukaj">
            <div class="col_wyszukaj">wyszukaj do daty: </div>
            <div class="col_wyszukaj">
                <input id="input-find-bydate_day" class="input-find-date" type="tekst" value="{{ dateNow|date('d') }}" size="2">
                <input id="input-find-bydate_month" class="input-find-date" type="tekst" value="{{ dateNow|date('m') }}" size="2">
                <input id="input-find-bydate_year" class="input-find-date" type="tekst" value="{{ dateNow|date('Y') }}" size="4"></div>
            </div>
        <div class="row_wyszukaj">
            <div class="col_wyszukaj"> </div>
            <div id="nawias_d_m_r" class="col_wyszukaj" >(dzień miesiąc rok)</div>
        </div>
        
        
        
    </div>

    {{ include('contribution/indexAjax.html.twig') }}
    

{% endblock %}
{% block belka_dol %}
    <a href="{{ path('contribution_new') }}">dodaj nową wpłatę</a>
{% endblock %}
