<table id="contribution_list" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Imię i Nazwisko</th>
                <th>Kwota</th>
                <th>Data wpłaty</th>
                <th>rodzaj</th>
                <th>potwierdzenie</th>
                {% if is_granted('ROLE_AUTOR') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                {# <td>{{ contribution.id }}</td> #}
                {% set mu = contribution.myUser %}
                <td><a href="{{ path('member_user_show',{'id':mu.id}) }}">
                    {{ mu.firstName }} {{ mu.surname }}
                </a></td>
                <td>{{ contribution.value }}</td>
                <td>{{ contribution.paymentDate ? contribution.paymentDate|date('d.m.Y') : '' }}</td>
                <td class="td_mniejsze">{{ contribution.getType() }}</td>
                <td class="td_mniejsze">
                    <a href="{{ path('contribution_print', {'id': contribution.id}) }}">
                        {{ contribution.getOrCreateConfirmation() }}
                    </a>
                </td>
                {# <td>
                    <a href="{{ path('contribution_show', {'id': contribution.id}) }}">show</a>
                </td> #}
                {% if is_granted('ROLE_AUTOR') %}
                <td>
                    <a href="{{ path('contribution_edit', {'id': contribution.id}) }}">edit</a>
                </td>    
                
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>